/*----------------------------------------------------------------------*/
/* Global Variables */
/*----------------------------------------------------------------------*/

:root {
    /* Background */
    --bg-100: #111;
    --bg-90: #202020;
    --bg-80: #303030;
    --bg-70: #404040;
    --bg-60: #505050;
    --bg-50: #606060;

    /* Font colors */
    --txt-grn: #57BC90;
    --txt-ylw: #EAC67A;
    --txt-org: #d0940d;
    --txt-blu: #3c69bc;
}