/*----------------------------------------------------------------------*/
/* Global Styles */
/*----------------------------------------------------------------------*/

/* import compartmentalized CSS scripts */
@import "background.css";
@import "home.css";
@import "nav.css";



body, input, select, textarea {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}

body {
    background-color: #1b1f22;
}


@media screen and (max-width: 1680px) {
    #wrapper {
        padding: 3rem 2rem;
    }
}

