/*----------------------------------------------------------------------*/
/* Navigation Styles */
/*----------------------------------------------------------------------*/

#header nav {
    background-color: rgba(0, 0, 0, 0.4);
}

#header nav ul {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #ffffff;
    border-radius: 4px;
}

#header nav ul li:first-child {
    border-left: 0;
}

#header nav ul li {
    padding-left: 0;
    border-left: solid 1px #ffffff;
}

#header nav ul li:hover {
    transition: ease-in-out 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
}

#header nav ul li a {
    display: block;
    min-width: 7.5rem;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 1.25rem 0 1.45rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    border-bottom: 0;
}

#header nav ul li a:hover {
    text-decoration: none;
    color: #57BC90;
}