<!DOCTYPE html>
<!-- base.html -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="public/images/favicon.ico" type="image/x-icon">
        <!-- Latest compiled and minified bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <!-- Customized CSS -->
        <link rel="stylesheet" href="public/css/main.css">
        <!-- FontAwesome -->
        <script src="https://use.fontawesome.com/9b3bd4052a.js"></script>
        <!-- Site Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600">
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102573800-3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-102573800-3');
        </script>
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="content" />
        <script src="public/bundle.js" type="text/javascript"></script>
    </body>
</html>